<div class= "container mx-auto p-2" *ngIf="gridData$ | async as grid" >
  <input class="p-1 border" type="text" [(ngModel)]="term">
  <button class="btn"  type="button" (click)="search()"> {{grid.hasMoreRecords ? 'next 100' : 'search'}}</button>
  <h3>
    total:{{grid.totalCnt}}
    page: {{grid.currentPage}} of {{grid.numberofPages}}
  </h3>

  <app-detail [items]="grid.data"></app-detail>
</div>

<input class="p-1 border" type="text" [(ngModel)]="term">
<button class="btn"  type="button" (click)="search2()">search</button>
<app-detail [items]="data"></app-detail>

